﻿<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboards - Analyticli.Web</title>

</head>
<body ng-app="analyticliApp" class="ng-scope">
	<div class="container body-content">
		<div ng-controller="dashboardController">
			<div ng-repeat="dashboard in dashboards">
				<powerbi-report embed-url="dashboard.Report.embedUrl" access-token="dashboard.AccessToken" on-embedded="onEmbedded($embed)" dynamic-height id="pbi"></powerbi-report>
			</div>
		</div>
	</div>

	<script src="./analyticli.js"></script>

</body>
</html>